# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# SQLite
*.sqlite3

# Coverage reports
htmlcov/
.coverage

# Build folders
dist/
build/
